@mixin autoMargin($marginX: auto) {
    margin-left: $marginX;
    margin-right: $marginX;
}

// 요소 박스의 크기 고정
@mixin boxFixed($width: 767px, $paddingX: 0){
    width: $width;
    padding-left: $paddingX;
    padding-right: $paddingX;
    @include autoMargin();
    @content;
  }

// 반응형 이미지
@mixin responsiveImg {
    max-width: 100%;
    height: auto;
}