// 루트 요소 기본 단위 --------------------------------------------------------------- /
$rootUnit: 16px !default;

// 단위 제거 함수 ------------------------------------------------------------------ /
@function removeUnit($value) {
  @return ($value / ($value * 0 + 1));
}


// px을 rem 단위로 변경하는 함수 ------------------------------------------------------- /
@function rem($value, $base: $rootUnit) {
  $value: removeUnit($value);
  $base: removeUnit($base);

  @return $value / $base * 1rem;
}

// px을 em 단위로 변경하는 함수 ------------------------------------------------------- /
@function em($value, $base: $rootUnit) {
  $value: removeUnit($value);
  $base: removeUnit($base);

  @return $value / $base * 1em;
}