<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배민문방구</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/footer.js"></script>
  </head>

  <body>
    <div class="baemin">
      <header class="header"></header>
      <main class="main">
        <section class="banner">
          <div class="banner__inner">
            <h2 class="a11yHidden">홍보상품</h2>
            <ul class="banner__list">
              <li class="banner__item">
                <a
                  class="banner__button"
                  href="#"
                  role="button"
                  aria-haspopup=""
                  aria-pressed="false"
                  aria-description="버튼을 누르면 첫번째 배너 상품인 재생지에 콩기름으로 인쇄한 일기장 정보를 확인하실 수 있습니다."
                >
                  <figure class="banner__card">
                    <img
                      src="./images/banner1.png"
                      alt=""
                      class="banner__img responsiveImg"
                      aria-labelledby="baeminBannerItem1"
                    />
                    <figcaption class="a11yHidden" id="baeminBannerItem1">
                      재생지에 콩기름으로 인쇄한 일기장
                    </figcaption>
                  </figure>
                </a>
              </li>
              <li class="banner__item">
                <a
                  class="banner__button"
                  href="#"
                  role="button"
                  aria-haspopup=""
                  aria-pressed="false"
                  aria-description="버튼을 누르면 두번째 배너 상품인 요모포켓과 배달이친구들 독고배달이 포켓 정보를 확인하실 수 있습니다."
                >
                  <figure class="banner__card">
                    <img
                      src="./images/banner2.gif"
                      alt=""
                      class="banner__img responsiveImg"
                      aria-labelledby="baeminBannerItem2"
                    />
                    <figcaption class="a11yHidden" id="baeminBannerItem2">
                      요모포켓X배달이친구들 독고배달이 포켓
                    </figcaption>
                  </figure>
                </a>
              </li>
              <li class="banner__item">
                <a
                  class="banner__button"
                  href="#"
                  role="button"
                  aria-haspopup=""
                  aria-pressed="false"
                  aria-description="버튼을 누르면 세번째 배너 상품인 감사, 사랑, 용돈 돈봉투 정보를 확인하실 수 있습니다."
                >
                  <figure class="banner__card">
                    <img
                      src="./images/banner3.png"
                      alt=""
                      class="banner__img responsiveImg"
                      aria-labelledby="baeminBannerItem3"
                    />
                    <figcaption class="a11yHidden" id="baeminBannerItem3">
                      감사, 사랑, 용돈 돈봉투
                    </figcaption>
                  </figure>
                </a>
              </li>
            </ul>
          </div>
        </section>
        <section class="products">
          <div class="products_main">
            <div class="products_best">잘나가요</div>
            <div class="products_new">새로나왔어요</div>
          </div>
          <div class="mds_pick">선물하기 딱 좋아요!</div>
          <div class="products_sale">지금은 할인 중</div>
        </section>
      </main>
      <!-- footer 시작 -->
      <footer class="footer">
        <h2 class="a11yHidden">배민 푸터</h2>
        <!-- footer service start -->
        <section class="footer__service">
          <div class="footer__logo hidden">
            <img src="../images/footer_logo_new.png" alt="로고" />
          </div>
          <ul class="footer__service-center">
            <li class="footer__service-center1">배민문방구 고객센터</li>
            <li class="footer__service-center2">1670-9902</li>
            <li>월-금 13:00~18:00 / 주말・공휴일 휴무</li>
            <li>배민문방구 인스타그램 @baemin_store</li>
          </ul>
          <ul class="footer__service-link">
            <li><a href="">공지사항</a></li>
            <li><a href="">1:1 문의</a></li>
            <li><a href="">이용약관</a></li>
            <li><a href="">개인정보처리방침</a></li>
            <li class="hidden"><a href="">판매처 안내</a></li>
          </ul>
        </section>
        <!-- footer service end -->
        <!-- footer button start -->

        <div class="footer__button">
          <a
            href="#"
            role="button"
            id="btn1"
            onclick="btn_click()"
            class="footer__btn"
            >자세히보기</a
          >
        </div>
        <!-- footer button end -->
        <!-- footer__address start -->

        <div id="hidden_address" class="hidden">
          <section class="footer__address">
            <address class="footer__address-info">
              <ul>
                <li>(주)우아한형제들</li>
                <li>대표 : 김범준</li>
                <li>주소 : 서울특별시 송파구 위례성대로 2 장은빌딩</li>
              </ul>
              <ul>
                <li>사업자번호 : 120-87-65763</li>
                <li>통신판매업신고 : 2012-서울송파-0515</li>
                <li>이메일 : baemin_store@woowahan.com</li>
              </ul>
              <ul>
                <li>고객센터 : 1670-9902</li>
                <li>팩스 : 050-6050-0400</li>
                <li class="hidden_desk">이메일 : baemin_store@woowahan.com</li>
                <li>호스팅제공 : 엔에이치엔고도(주)</li>
              </ul>
            </address>
          </section>
          <!-- footer__address end -->
          <!-- footer__end start -->

          <p class="footer__end-notice">
            고객님의 안전거래를 위해 현금 등으로 결제 시 <br />
            NHN한국사이버결제(주)의 구매안전 서비스를 이용하실 수 있습니다.
            <br />
            <a href="#">[서비스 가입사실 확인 ]</a>
          </p>
        </div>
        <section class="footer__end">
          <small class="footer__end-right">
            &copy; Woowa Brothers Corp. All right Reserved
          </small>
          <div>
            Icons made by
            <a href="https://www.freepik.com/" title="Freepik"> &copy; Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon"></a>
               www.flaticon.com</a
            >
          </div>
        </section>
        <!-- footer__end end -->
      </footer>
      <!-- footer 끝 -->
    </div>
  </body>
</html>
