/* ------------------------ */
/*         장바구니 css         */
/* ------------------------ */

/* ---- 장바구니의 서브 네비게이션 ---- */

.sub-top-wrapper{
    background-color: red;
    position: relative;

/* --- 모바일 일 때 없애야 하는 요소 -- */
    @include mobile{
        &__progress-list{
            display: none;
        }

        & h2{
            background-color: skyblue;
            text-align: center;
            font-size: rem(18);
            padding: 16px 0;
            margin: 0;
        }

        
    }

/* ------- 뒤로 가기 버튼 ------- */

    &__button__back{
        display: block;
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        background-color: aqua;
        position: absolute;
        left: 0;
        top: 0;
        
    }
}

/* ------- 전체선택 체크박스 레이아웃 ------ */
.item-section{

    background-color: #f6f6f6;

    &__checkbox{
        @include flexbox($align-items: center);
        margin-top: 20px;
        position: relative;
    }

    &__input{
        @include checkBoxInput
    }

    &__checkbox__label{
        @include checkBox;
        background: #717171;
    }

    &__checkbox__text{
        @include checkBoxText;
    }
    @at-root .--isSelected{
        
        & + span{
            @include checkBoxChecked;
        }
    }
}

/* --- 장바구니 아이템 목록 레이아웃 --- */
.item-list{
    
    &__item{
        display: none;
    }

    &__item.--isSelected{
        display: list-item;
        border: 1px solid red;
        padding: 20px;
    }

    &__thumb{
        @include thumbNail;
    }

    &__description{
        padding: 0;
        margin: 0;
    }

    &__description *{
        margin: 0;
        padding-bottom: 5px;
    }

    &__option:not(.--isExist){
        display: none;
    }

    


/* ------- 모바일 레이아웃 ------- */
    @include mobile{
        &__coupon{
            display: none;
        }
    }

    

}