.goods-view {
  @include flexbox(column);

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  &__info-box {
    @include mobile {
      margin-top: em(16);
    }

    @include desktop {
      width: 50%;
    }
  }

  &__heading {
    font-size: rem(24);
  }

  &__price-box {
    margin-bottom: em(20);

    @include desktop {
      max-width: 450px;
    }
  }

  &__discount-rate {
    font-size: rem(28);
    font-weight: 700;
    color: #ff6350;
  }

  &__prices {
    &-original {
      font-size: rem(12);
      color: #999999;
    }

    &-current {
      font-weight: 700;

      strong {
        font-size: rem(28);
        color: #29c1bc;
      }
    }
  }

  &__prices {
    float: right;
  }

  &__sub-info {
    @include flexbox($flex-wrap: wrap);

    @include mobile {
      font-size: rem(14);
    }

    @include desktop {
      font-size: rem(18);
    }

    color: #333;
    margin-bottom: em(33);

    &-key {
      width: 25%;
      font-weight: 700;
    }

    &-value {
      width: 75%;
    }
  }

  &__btn-box {
    @include flexbox();

    li {
      width: 50%;
      border: 1px solid #ebebeb;
    }
  }

  &__order-box {
    @include mobile {
      margin-top: em(15);
    }
    
    @include desktop {
      margin-top: em(25);
    }
  }

  &__options {
    background: #f5f5f5;
    padding: 5px;
    font-size: rem(14);

    @include desktop {
      font-size: rem(16);
      padding: 15px;
    }
  }

  &__prdt-name {
    display: inline-block;
    font-weight: 700;
    line-height: rem(25);
    width: 50%;
  }

  &__order-cnt {

    input {
      box-sizing: border-box;
      vertical-align: middle;
      text-align: center;
      width: em(35);
      height: em(25);
      padding: 0;
      border: 0;
      border: 1px solid #c9c9c9;
    }

    button {
      display: inline-block;
      vertical-align: middle;
      width: em(25);
      height: em(25);
      border: 1px solid #c9c9c9;
    }
  }

  &__order-price {
    float: right;
    line-height: rem(25);
  }

  &__total {
    @include flexbox();
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    font-size: rem(14);
    font-weight: 700;
    margin-top: rem(10);
    padding-top: rem(10);

    @include desktop {
      font-size: rem(16);
      justify-content: space-between;
      font-size: rem(25);
    }
  }

  &__order-box-links {
    margin-top: em(20, 14);
    font-size: rem(14);
    @include flexbox;
    justify-content: space-around;

    li {
      width: 45%;
      border: 1px solid #999999;
    }

    a {
      display: block;
      text-align: center;
      padding: em(15, 14) 0;
    }
  }

  &__order-link {
    background-color: #333;
    color: #fff;
  }

  &__image-box {
    order: -1;

    @include desktop {
      width: 45%;
    }

    img {
      width: 100%;
    }
  }
}
