@keyframes opa1 {
    0% {
        opacity: 0;
    }

    17% {
        opacity: 1;
    }

    33% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opa2 {
    0% {
        opacity: 0;
        display: none;
    }

    33% {
        opacity: 0;
        display: block;
    }

    50% {
        opacity: 1;
    }

    66% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opa3 {
    0% {
        opacity: 0;
        display: none;
    }

    66% {
        opacity: 0;
        display: block;
    }

    83% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.banner {
    background-color: #E2E2E2;
    position: relative;
    width: 100%;

    &__item:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        animation: opa1 9s infinite linear;
    }

    &__item:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        animation: opa2 9s infinite linear;
    }

    &__item:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0;
        animation: opa3 9s infinite linear;
    }
}

/* ---------------------------------- */
/*              헤더 영역 작성              */
/* ---------------------------------- */
.header {

    @at-root .nav-header__user {
        
        display: block;
        padding: em(25);
        background-color: white;

        @at-root .name{
            display: block;
            font-size: rem(20);
            padding-bottom: em(3);
        }

        @at-root .greeting{
            font-size: rem(34);
        }
    
    }

    &__member-list {
        @include flexbox($justify-content:space-between, $flex-wrap:wrap);
        
        background-color: white;
    }

    @include flexbox($justify-content:space-between);

    &__member-link{
        display: inline-block;
        padding: em(10);
        margin: em(6);
    }

    /* ------------ 헤더 영역(모바일) ----------- */

    @include mobile{

        /* -------------- 로고 영역 (모바일) ------------- */

        &__logo{
            height: 45px;
        }

        &__logo__link{
            display: inline-block;
        }

        &__img__image{
            max-width: 102px;
        }
        
        /* ------------- 메뉴 열기 (모바일) ------------- */

        @at-root .open-menu {
            padding: 0;
            margin: 0;
            height: 45px;
            width: 45px;
            background: url(../images/nav-icon@3x.png) white 50% no-repeat;
            background-size: 60% 60%;
            border: none;
        }

        /* -------- 모달 네비게이션 기본 레이아웃 (모바일) -------- */
        
        @at-root .modal{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 5;
            background-color: rgba($color: #000000, $alpha: 0.8);
            backdrop-filter: blur(2px);


            &__exit {
                position: absolute;
                right: em(10);
                top: em(10);
            }

        }
        
        

        @at-root .float-menu{
            display: none;
            position: fixed;
            top: 0;
            left: 25%;
            right: 0;
            bottom: 0;
            background:#f3f3f3;
            z-index: 10;
        }

        /* --- 로그인, 로그아웃 상태에 따라 모달 문구가 다르다 (모바일) -- */

        @at-root .--noUser, .--User
        {
            display: none;
        }

        @at-root .--isLogin{
            .--User{
                display: block;
            }
        }

        @at-root .--isLogout{

            .--noUser{
                display: block;
            }

        }

        /* ---------- 모달 네비게이션 활성화 (모바일) ---------- */
        
        @at-root .modal.--isActivate{
            display: block;

            & + div {
                display: block;
            }

        }

        &__member-item{
            text-align: center;

            img{
                width: 40px;
                height: 40px;
            }

        }

        &__member-item span{
            display: block;
            text-align: center;
        }

        /* --------- 주요 네비게이션 (모바일) --------- */

        @at-root .navigation{

            &__category{
                background-color: white;
            }
        }

        
    }

    /* ----------- 헤더 영역 데스크탑 ----------- */
    @include desktop{
        &__member-list img{
            display: none;
        }
    }
    
}



