/* banner animation */
@keyframes opa1 {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    33% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opa2 {
    0% {
        opacity: 0;
        display: none;
    }
    33% {
        opacity: 0;
        display: block;
    }
    50% {
        opacity: 1;
    }
    66% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opa3 {
    0% {
        opacity: 0;
        display: none;
    }
    66% {
        opacity: 0;
        display: block;
    }
    83% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* main page 기본 패딩 제거 */
.main {
    padding: 0;
}

/* banner */
.banner {
    background-color: #E2E2E2;
    position: relative;
    width: 100%;

    &__item:nth-child(1) {
        animation: opa1 9s infinite linear;
    }

    &__item:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        animation: opa2 9s infinite linear;
    }

    &__item:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0;
        animation: opa3 9s infinite linear;
    }
}
