// .baemin 컨테이너 레이아웃
.baemin {
    @include flexbox(column);
    min-height: 100vh;
    min-width: 273px;
    max-width: 1100px;
    @include autoMargin;

    @at-root .main {
        flex: 1 1 0;
        padding: 18px 20px;
    }

    @at-root .footer {
        margin-top: auto;
    }
}
