@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp, pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.a11yHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

[class] {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

.responsiveImg {
  max-width: 100%;
  height: auto;
}

/* 상품 section 최상위 컨테이너 */
.products {
  padding: 0 20px;
}

/* 각 리스트 위 공통 마진 */
.products__best,
.products__new,
.mds__pick,
.products__sale {
  margin-top: 2.5em;
  /* 각 리스트 제목 */
}
.products__best-heading,
.products__new-heading,
.mds__pick-heading,
.products__sale-heading {
  font-size: 1.75rem;
  font-weight: 700;
  padding-bottom: 0.7142857143em;
}

/* 상품 리스트 공통(베스트 상품, 신상품, 할인 상품) */
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .products__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}

/* 상품 컨테이너 공통(베스트 상품, 신상품, 할인 상품) */
.products__item {
  margin-bottom: 0.625em;
}
@media screen and (min-width: 768px) {
  .products__item {
    width: 21%;
  }
}

/* 상품 정보 공통 */
.product {
  padding-top: 0.1875em;
  position: relative;
}
.product__info {
  float: left;
  display: flex;
  flex-direction: column;
  padding-left: 0.625em;
  margin-top: 0.125em;
}
@media screen and (min-width: 768px) {
  .product__info {
    padding-left: 0.1875rem;
    margin-top: 0.3125rem;
  }
}
.product__name {
  font-size: 1em;
  margin-bottom: 0.625em;
  color: #333333;
}
.product__price {
  color: #333333;
  font-size: 1.125em;
  margin-bottom: 0.625em;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .product__price {
    margin-bottom: 0.125rem;
  }
}
.product__price-origin {
  margin-bottom: 0.625em;
  font-size: 0.75rem;
}
.product__sale {
  font-style: normal;
  order: -1;
  color: #FF6350;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.625em;
}

/* desktop에서만 노출되는 아이템 */
@media screen and (max-width: 767px) {
  .only-desktop-item {
    display: none;
  }
}

/* 베스트 상품 리스트 */
/* 베스트 상품 아이템 */
@media screen and (max-width: 767px) {
  .best__item img {
    float: left;
    max-width: 30%;
  }
}

/* 신상품 리스트 */
@media screen and (max-width: 767px) {
  .new__list {
    overflow: scroll;
    flex-direction: row;
  }
}

/* 신상품 아이템 */
@media screen and (min-width: 768px) {
  .new__item img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .new__item {
    padding: 0.9375em 0.3125em;
  }
  .new__item img {
    width: 150px;
  }
  .new__item .product__info {
    padding-left: 0.0625rem;
    padding-right: 0.1875rem;
  }
}

/* 찜, 카트 아이콘 */
.new__item:hover .like {
  top: -30px;
  opacity: 1;
}

.new__item:hover .cart {
  top: -30px;
  opacity: 1;
}

.like {
  position: absolute;
  top: 0;
  left: 35%;
  width: 10%;
  height: 20px;
  background-image: url("./../../images/like.png");
  background-size: cover;
  background-color: white;
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.cart {
  position: absolute;
  top: 0;
  left: 55%;
  width: 10%;
  height: 20px;
  background-image: url("./../../images/cart.png");
  background-size: cover;
  background-color: white;
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

/* 추천 선물 리스트 */
.pick__item {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .pick__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}

/* 추천 선물 이미지 */
.pick__item-img__first {
  background: url("./../../images/pick_sprites.png") 0 0 no-repeat;
  -webkit-background-size: 200% 100%;
  background-size: 200% 100%;
}
@media screen and (min-width: 768px) {
  .pick__item-img__first {
    width: 70vw;
    height: 40vw;
  }
}
@media screen and (max-width: 767px) {
  .pick__item-img__first {
    width: 93vw;
    height: 53vw;
  }
}
.pick__item-img__second {
  background: url("./../../images/pick_sprites.png") 100% 0 no-repeat;
  -webkit-background-size: 200% 100%;
  background-size: 200% 100%;
}
@media screen and (min-width: 768px) {
  .pick__item-img__second {
    width: 70vw;
    height: 35vw;
  }
}
@media screen and (max-width: 767px) {
  .pick__item-img__second {
    width: 93vw;
    height: 53vw;
  }
}

/* 추천 선물 정보 */
@media screen and (min-width: 768px) {
  .pick__item-info {
    width: 24vw;
    padding: 0.75em 0 0 0.625rem;
  }
}
@media screen and (max-width: 767px) {
  .pick__item-info {
    padding: 0.375em 0 1.875em 0.625rem;
  }
}

/* 추천 선물 정보 설명 */
.pick__item-info__desc {
  display: block;
}
@media screen and (min-width: 768px) {
  .pick__item-info__desc {
    font-size: 1.625rem;
    margin-bottom: 0.3846153846em;
  }
}
@media screen and (max-width: 767px) {
  .pick__item-info__desc {
    font-size: 0.9375rem;
    margin-bottom: 0.6666666667em;
  }
}

/* 추천 선물 정보 제목 */
@media screen and (min-width: 768px) {
  .pick__item-info__title {
    font-size: 0.9375rem;
  }
}
@media screen and (max-width: 767px) {
  .pick__item-info__title {
    font-size: 1.375rem;
  }
}

/* 할인 리스트 */
@media screen and (max-width: 767px) {
  .sale__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

/* 할인 아이템 */
@media screen and (max-width: 767px) {
  .sale__item {
    width: 48%;
  }
  .sale__item .product__info {
    padding-left: 0.0625rem;
    padding-right: 0.1875rem;
  }
}

.baemin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 100vh;
  min-width: 273px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  flex: 1 1 0;
  padding: 18px 20px;
}

.footer {
  margin-top: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 100px;
  background-color: aqua;
}

.footer {
  background-color: yellowgreen;
  min-height: 150px;
}

/* banner animation */
@keyframes opa1 {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  33% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opa2 {
  0% {
    opacity: 0;
    display: none;
  }
  33% {
    opacity: 0;
    display: block;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opa3 {
  0% {
    opacity: 0;
    display: none;
  }
  66% {
    opacity: 0;
    display: block;
  }
  83% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* main page 기본 패딩 제거 */
.main {
  padding: 0;
}

/* banner */
.banner {
  background-color: #E2E2E2;
  position: relative;
  width: 100%;
}
.banner__item:nth-child(1) {
  animation: opa1 9s infinite linear;
}
.banner__item:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  animation: opa2 9s infinite linear;
}
.banner__item:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  animation: opa3 9s infinite linear;
}

/*# sourceMappingURL=style.css.map */
