/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp, pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.a11yHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

[class] {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.responsiveImg {
  max-width: 100%;
  height: auto;
}

.baemin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 100vh;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  flex: 1 1 0;
  padding: 18px 20px;
}

.footer {
  margin-top: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 100px;
  background-color: aqua;
}

.footer {
  background: #f6f6f6;
  width: 90%;
  min-height: 187px;
  font-size: 12px;
  color: #717171;
  width: 100%;
  box-sizing: border-box;
}
.footer address {
  font-style: normal;
}
.footer__end {
  margin-bottom: 6.25em;
}
.footer__service-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 12px;
  font-weight: 500;
}
.footer__service-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.75em 0 1.875em 0;
}
.footer__button {
  margin: 0 0 2.5em 0;
  text-align: center;
}
.footer__btn {
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0.625em;
}
@media screen and (max-width: 767px) {
  .footer {
    font-size: 12px;
    color: #b5b5b5;
    font-weight: bold;
  }
  .footer .hidden {
    display: none;
  }
  .footer__service {
    padding-top: 1.875em;
  }
  .footer__service-center1 {
    font-size: 14px;
  }
  .footer__service-center2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0.3125em 0 0.3125em 0;
  }
  .footer__service-link li {
    padding-left: 1.25em;
    display: block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
  }
  .footer__service-link li:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    left: 0.5625em;
    top: 0.1875em;
    width: 0.0625em;
    height: 0.9375em;
    background: #717171;
  }
  .footer__end {
    text-align: center;
    margin-top: 2.5em;
    font-size: 12px;
    line-height: 20px;
    color: #b5b5b5;
    font-weight: bold;
  }
  .footer__address li {
    margin-bottom: 0.4375em;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 21.875em;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    position: relative;
  }
  .footer .hidden_desk {
    display: none;
  }
  .footer .hidden {
    display: block;
  }
  .footer__logo img {
    position: absolute;
    width: 9.375em;
    height: 11.25em;
    top: 2.125em;
    left: 4.375em;
  }
  .footer__end-notice {
    display: none;
  }
  .footer__service {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-top: 1.875em;
  }
  .footer__service-link {
    order: -1;
  }
  .footer__service-link li {
    margin-right: 0.9375em;
  }
  .footer__service-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
  .footer__service-center li {
    margin-right: 0.9375em;
    position: relative;
  }
  .footer__service-center li:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    right: -0.4375em;
    top: 0.0625em;
    width: 0.0625em;
    height: 1em;
    background: #717171;
  }
  .footer__service-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    order: -1;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1.125em;
  }
  .footer__service-link li {
    margin: 0 2.5em 0.9375em 0;
  }
  .footer__address-info li {
    margin-right: 0.9375em;
    position: relative;
  }
  .footer__address-info li:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    right: -0.4375em;
    top: 0.0625em;
    width: 0.0625em;
    height: 1em;
    background: #717171;
  }
  .footer__address ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
  .footer__end-right {
    font-size: 12px;
    font-weight: 500;
  }
  .footer__button {
    display: none;
  }
}

@keyframes opa1 {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  33% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opa2 {
  0% {
    opacity: 0;
    display: none;
  }
  33% {
    opacity: 0;
    display: block;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opa3 {
  0% {
    opacity: 0;
    display: none;
  }
  66% {
    opacity: 0;
    display: block;
  }
  83% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.banner {
  background-color: #E2E2E2;
  position: relative;
  width: 100%;
}
.banner__item:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  animation: opa1 9s infinite linear;
}
.banner__item:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  animation: opa2 9s infinite linear;
}
.banner__item:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  animation: opa3 9s infinite linear;
}

.login_wrapper {
  width: 50%;
  margin: 0 auto;
}

.login {
  margin-bottom: 2.5em;
  border-bottom: 6px solid #f6f6f6;
}
.login__heading {
  line-height: 15px;
  padding: 0;
  margin-bottom: 0.9375em;
  font-weight: normal;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.login__form input {
  width: 100%;
  height: 50px;
  text-indent: 5px;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  box-sizing: border-box;
  margin-bottom: 12px;
  font-size: 16px;
}
.login__save {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.login__save-saveId, .login__save-saveLogin {
  position: relative;
}
.login__save label {
  padding: 0 1.25em 0 1.875em;
  font-size: 0.8rem;
}
.login__save label::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #bcbcbc;
  cursor: pointer;
  top: 0.125em;
  left: 0.375em;
}
.login__save input[type=checkbox]:checked + label::before {
  background: url(../../images/checkbox_white@3x.png) no-repeat center;
  background-size: 0.75em 0.5625em;
  background-color: #717171;
}
.login__login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.login__login-btn {
  width: 100%;
  display: block;
  border: 1px solid #333;
  background: #333;
  color: #ffffff;
  box-sizing: border-box;
  height: 55px;
  margin: 30px 0 0 0;
}
.login__facebook {
  display: block;
  width: 100%;
  height: 55px;
  padding-left: 31px;
  background-color: #4267b2;
  color: #fff;
  font-size: 16px;
  line-height: 3.4375em;
  box-sizing: border-box;
  border: none;
  text-align: center;
  margin: 0.9375em 0 1.25em 0;
}
.facebook {
  position: relative;
}

.facebook::before {
  content: "";
  top: -0.5em;
  left: -2.75em;
  display: inline-block;
  position: absolute;
  background: url(../../images/pc_facebook_join@3x.png) no-repeat 50% 50%;
  background-size: 2.5em;
  width: 38px;
  height: 30px;
}

.login__find ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-bottom: 3.125em;
}
.login__find li {
  display: inline-block;
  padding: 0 12px 0 18px;
  font-size: 14px;
  color: #333;
  position: relative;
}
.login__find li:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  right: -0.3125em;
  top: 0.0625em;
  width: 0.0625em;
  height: 0.9375em;
  background: #717171;
}
@media screen and (min-width: 768px) {
  .login__save .hidden {
    display: none;
  }
  .login__form input {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .login_wrapper {
    width: 70%;
  }
}

.non-members {
  margin: 3.125em 0 0 0;
}
.non-members__heading {
  text-align: center;
  margin-bottom: 0.9375em;
}
.non-members__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.non-members__heading {
  line-height: 15px;
  padding: 0;
  margin-bottom: 0.9375em;
  font-weight: normal;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}
.non-members__form-id, .non-members__form-num {
  width: 100%;
  height: 50px;
  text-indent: 5px;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  box-sizing: border-box;
  margin-bottom: 12px;
  font-size: 16px;
}
.non-members__check {
  width: 100%;
  display: block;
  border: 1px solid #333;
  background: #333;
  color: #ffffff;
  box-sizing: border-box;
  height: 55px;
  margin: 30px 0 0 0;
}
.non-members__notice {
  padding: 0 0 0 1.125em;
  margin-top: 0.9375em;
  color: #6d6d6d;
  position: relative;
}
.non-members__notice .notice1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: url(../../images/icon_caution.png) no-repeat center;
  background-size: 0.875em 0.875em;
  width: 0.875em;
  height: 0.875em;
}
@media screen and (max-width: 767px) {
  .non-members .hidden {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
